<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Care</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="public/images/logo.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <div class="WrapperBoss">
        <header th:fragment ="header" class="PageHeader">
            <img class="PageHeader-logo" src="./images/logo-cc-horizontal.png" alt="logo City Care">

            <div class="PageHeader-userBox">
                <h2>Mon espace</h2>
                <img src="./images/avatar.png" alt="avatar">
            </div>

            <nav class="PageHeader-userBoxNav">
                <img class="PageHeader-userBoxNav-logo" src="" alt="">
                <div class="PageHeader-userBoxNav-mentionBox">
                    <a href="">Méntions Legales</a>
                    <p> © 2025 citycare.net</p>
                </div>
                <div class="PageHeader-userBoxNav-SocialMediaBox">
                    <a href="https://www.linkedin.com/in/enerisan/" target="_blank" class="text-white fs-3"><i
                            class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a>
                    <a href="https://www.linkedin.com/in/enerisan/" target="_blank" class="text-white fs-3"><i
                            class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a>
                    <a href="https://www.linkedin.com/in/enerisan/" target="_blank" class="text-white fs-3"><i
                            class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a>
                    <a href="https://www.linkedin.com/in/enerisan/" target="_blank" class="text-white fs-3"><i
                            class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a>
                </div>
            </nav>
        </header>
</body>


</html>