@use 'variables' as *;
.PageMain-bar  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $firstColor;
  max-height: $spaceXXL;
  min-height: $spaceXXL;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;

  @media screen and (min-width: $tablet) {
    width: 280px;
    max-height: none;
    position: fixed;
    top: 5em;
    justify-content: flex-start;
    align-self: stretch;
    left: auto;
    right: max((100vw - 1536px) / 2);





  }

  &-addBtn {
    cursor: pointer;
    min-height: 70px;
    min-width: 70px;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    right: 10px;
    background-image: linear-gradient(0, white 0 55%, rgba(255, 255, 255, 0) 55% 100%);

    @media screen and (min-width: $tablet) {
      display: none;
    }

    &-in {
      background-color: $secondColor;
      min-height: 55px;
      min-width: 55px;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      right: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;


    }


  }

  &-menu {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;

    @media screen and (min-width: $tablet) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: $spaceM;
      max-height: none;
      min-width: 100%;
      flex-grow: 1;



    }

    &-logoDesktop {
      display: none;

      @media screen and (min-width: $tablet) {
        display: block;
        margin-top: 0;
        max-width: 100%;

      }

      img {
        max-width: 100%;

      }

    }

    .addBtnDesktop {
      display: none;

      @media screen and (min-width: $tablet) {
        display: flex;
      }
    }

    &-link {
      width: 100%;
      color: $thirdColor;
      font-size: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: $spaceS;

      a {
        margin-left: 1em;
      }

      i {

        color: #f5f5f5;
      }


      @media screen and (min-width: $tablet) {
        flex-direction: row;
        justify-content: flex-start;
        min-width: 100%;
        align-items: center;
        padding: $spaceS;
      }


      &-plus {
        background-color: $secondColor;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        text-decoration: none;

      }

      figcaption {
        font-size: $space;

        @media screen and (min-width: $tablet) {
          font-size: $spaceL;

        }
      }

    }

    &-link:hover {


      @media screen and (min-width: $tablet) {
        background-color: $backgroundColor;
        color: $firstColor;

        i {
          color: $firstColor;
        }

      }
    }
  }
}