 @use 'variables' as *;

 .WrapperBoss {
     max-width: 1440px;
     margin: 0 auto;


     @media screen and (min-width: $tablet) {
         position: relative;

     }
 }


 .PageMain {

     @media screen and (min-width: $tablet) {
         width: 100%;
         margin: 0;
         padding: 0;
         display: flex;
         align-items: stretch;

     }

     &-centralBox {
         background-color: $thirdColor;
         padding: $space;
         display: flex;
         flex-direction: column;
         gap: $spaceL;


         @media screen and (min-width: $tablet) {

             width: calc(100% - 280px);
             padding: 2em;
             display: grid;
             grid-template-columns: 1fr 1fr;
             grid-template-rows: auto auto;
             gap: $spaceXXXL;
             font-size: $space;

         }

     }
 }
 .InfosCard {
     box-shadow: $shadow;
     display: flex;
     flex-direction: row;
     width: 100%;
     gap: 1em;

     font-size: $space;
     border-radius: $spaceS;
     padding: $space;

     &-textBox {
         &-title {
             font-weight: bold;
         }

     }

     &-imgBox {
         max-height: 6em;
         max-width: 6em;

         &-titre {
             font-weight: bold;
         }

         img {
             height: 100%;
             width: 100%;

             object-fit: cover;

         }
     }


 }

 .ReportCard {
     box-shadow: $shadowLight;
     display: flex;
     flex-direction: row;
     height: auto;
     width: 100%;
     gap: 1em;
     font-size: $space;
     border-radius: $spaceS;
     padding: $spaceS;


     @media screen and (min-width:$tablet) {
         flex-direction: column;
         min-height: 220px;
         align-items: center;
         padding: 0;
         gap: 0;
         outline: 1px solid transparent;


     }


     &-imgBox {
         max-height: 90%;
         max-width: 30%;


         @media screen and (min-width:$tablet) {
             min-width: 100%;
             max-height: 65%;

             margin: 0;

         }



         img {
             height: 100%;
             width: 100%;
             border-radius: $spaceS;
             object-fit: cover;

             @media screen and (min-width:$tablet) {
                 border-radius: 10px 10px 0 0;



             }

         }
     }

     &-textBox {
         min-width: 65%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 1em;





         &-header {
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: space-between;







             &-title {
                 font-weight: bold;

             }
         }


         &-items {
             display: flex;
             align-items: center;
             gap: 1em;


             &-icon{
                 color:$firstColor;
             }


             a {

                 margin-left: 0.5em;

                 @media screen and (min-width:$tablet) {
                     margin-left: 4em;
                 }

             }



         }

         @media screen and (min-width:$tablet) {

             min-width: 100%;
             max-height: 35%;
             padding: 1em;
             gap: 0.5em;

         }

     }

 }

 .ReportCard {
     &:hover {
         background-color: #124e78;
         color: #F2F2F7;
         box-shadow: 5px 5px 10px black;
         outline: 1px solid #FFC42B;

         .ReportCard-textBox-items-icon {
             color: $thirdColor;
         }
     }
 }

 .AllSee {
     a {
         text-decoration: none;
         font-size: $space;
         padding-left: $spaceXXS;
         color: inherit;

     }
 }


 .FormContainer {
     min-height: 70vh;
     background-color: $firstColor;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     padding-top: 2em;


     @media screen and (min-width: $tablet) {
         align-items: center;
         padding: 0;
         min-width: 35%;
         background-color: $backgroundColor;
     }

     .Form {
         text-align: center;
         width: 90%;
         background-color: $firstColor;
         border-radius: 20px;



         @media screen and (min-width: $tablet) {
             text-align: center;
             width: 430px;
             height: 420px;
             background-color: $thirdColor;
             border-radius: 20px;
             box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
             padding: 50px;
         }

         h3 {
             color: #B3B3B3;
             font-size: 1em;
             font-weight: lighter;
             margin-bottom: 0.8em;


             @media screen and (min-width: $tablet) {
                 font-size: 36px;
                 margin-bottom: 0.5em;


             }
         }

         /* Input wrapper */
         .input-group {
             position: relative;
             width: 100%;
             height: 72px;

             @media screen and (min-width: $tablet) {
                 width: 328px;
             }

         }

         /* Inputs */
         .input-group input {
             background: none;
             border: 1px solid $thirdColor;
             border-radius: 4px;
             height: 56px;
             width: 100%;
             color: $thirdColor;
             font-weight: bold;
             outline: none;
             padding-inline: 12px;

             @media screen and (min-width: $tablet) {
                 color: $firstColor;
                 height: 56px;
                 padding-inline: 12px;

                 border: 1px solid $firstColor;
                 font-size: 16px;
                 transition: border-color 0.3s;



             }

         }

         .input-group input:focus,
         .input-group input:not(:placeholder-shown) {
             border-color: $secondColor;
         }

         /* Hidden Label */
         .input-group label {
             position: absolute;
             top: 0;
             left: 12px;
             background: $firstColor;
             padding: 0 4px;
             font-size: 16px;
             font-weight: bold;
             transform: translateY(-50%);
             opacity: 0;
             color: transparent;
             transition: 0.2s;
             display: flex;
             align-items: center;
             gap: 3px;
             height: 14px;
             pointer-events: none;
             width: auto;

             @media screen and (min-width: $tablet) {
                 background: $backgroundColor;

             }
         }

         /* Showing label*/
         .input-group input:focus+label,
         .input-group input:not(:placeholder-shown)+label {
             opacity: 1;
             color: $thirdColor;

             @media screen and (min-width: $tablet) {
                 color: $firstColor;
             }
         }

         /* Field password */
         .input-group.icon-right {
             display: flex;

         }

         .toggle-password {
             border: none;
             position: absolute;
             top: 40%;
             right: 12px;
             transform: translateY(-50%);
             background: none;
             display: flex;
             justify-content: center;
             align-items: center;
             cursor: pointer;
             padding: 0;
             margin-bottom: 2em;
             height: 56px;
             width: 24px;
         }

         /* Eye */
         .toggle-password svg {
             width: 24px;
             height: 24px;
             pointer-events: none;
             color: $thirdColor;

             @media screen and (min-width: $tablet) {

                 color: $firstColor;
             }
         }

         /* Botón enviar */
         .submit-button {
             width: 100%;
             height: 56px;
             background-color: $secondColor;
             box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
             color: $thirdColor;
             font-size: 24px;
             border: none;
             border-radius: 4px;
             font-weight: bold;
             cursor: pointer;
             transition: background-color 0.2s ease;

             @media screen and (min-width: $tablet) {
                 width: 328px;
             }

         }

         .submit-button:hover {
             background-color: $thirdColor;
             color: $firstColor;
             box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

             @media screen and (min-width: $tablet) {
                 background-color: $firstColor;
                 color: $thirdColor;
             }
         }

         .text-line {
             margin-top: 1em;
             display: flex;
             justify-content: center;
             color: $thirdColor;
             font-weight: bold;
             font-size: 16px;
             gap: 0.5em;

             @media screen and (min-width: $tablet) {
                 font-size: 20px;
                 color: #B3B3B3;
             }

             a {
                 color: $thirdColor;

                 @media screen and (min-width: $tablet) {
                     color: #B3B3B3;
                 }
             }
         }

     }
 }