 @use 'variables' as *;

 .PageFooter {
     background-color: $firstColor;
     color:$thirdColor;
     height: 5em;
     width: calc(100% - 280px);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: $spaceS;
     position: relative;
     z-index: 10;

     @media screen and (min-width:$tablet) {



     }

 }