 @use 'variables' as *;

 * {
     box-sizing: border-box;
     margin: 0;
     font-family: $textFont
 }


 body {
   height: 100%;

 }

 html, body {
   overflow-x: hidden;
 }

 .Wrapper {
     max-width: 1536px;
     min-height: 100vh;
     margin: 0 auto;
     position: relative;
 }

 h2 {

     font-size: $space;
     color: $firstColor;

     @media screen and (min-width:$tablet) {
         font-size: $spaceM;
     }
 }

 h3 {
   @media screen and (min-width:$tablet) {
     font-size: $spaceM;
   }
 }

 p {

   @media screen and (min-width:$tablet) {
     font-size: $space;
   }
 }

