@use 'variables' as *;


.overlay-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  &.visible {
    display: block !important;
  }
}

.PageHeader {
  background-color: $firstColor;
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spaceS;
  position: relative;
  z-index: 10;


  @media screen and (min-width: $tablet) {
    padding-inline: $spaceM;
    position: sticky;
    top: 0;
  }

  &-logo {
    max-height: $spaceL;

    @media screen and (min-width: $tablet) {
      max-height: $spaceXXL;
    }
  }

  &-userBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spaceL;


    h2 {
      color: $thirdColor;
    }

    &-imgBox {
      all:unset;
      width: $spaceL;
      height: $spaceL;
      border-radius: 50%;
      background-color: $thirdColor;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      @media screen and (min-width: $tablet) {
        width: $spaceXL;
        height: $spaceXL;
      }

      i {
        font-size: calc($spaceL * 0.6);
        @media screen and (min-width: $tablet) {
          font-size: calc($spaceXL * 0.6);
        }
      }
    }
  }

  &-userBoxNav {
    display: none;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: white;
    min-width: 300px;
    max-width: 320px;
    padding: $space;
    z-index: 1001;

    &.visible {
      display: flex;
    }

    &-list {
      display: flex;
      flex-direction: column;

      width: 100%;
      justify-content: flex-start;

      gap: $space;

      &-item {
        width: 100%;

        &-line {
          width: 100%;

          &-btn {
            all: unset;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            cursor: pointer;
            align-items: center;
            gap: 0.5em;


          }
        }

      }
    }

  }
}
