@use 'variables' as *;


.PageMain-centralBoxDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid pink;
  background-color: $backgroundColor;
  padding-top: $space;
}

.DetailCard {
  width: 90%;
  height: 80%;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid blue;

  &-header {
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    padding-left: $space;

    &-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

  }

  &-imgBox {
    width: 100%;

    &-img {
      width: 100%;
    }
  }

  &-catBox {
    display: flex;
    padding: $space;
    gap: $space;
  }

  &-des {
    display: flex;
    flex-direction: column;
    padding: 0 $space $space $space;

  }

  &-address {
    display: flex;
    flex-direction: column;
    padding: 0 $space $space $space;

    &-first {
      display: flex;
      align-items: center;

    }

    &-second {
      padding-left: $spaceS;
    }

  }
}