 @use 'variables' as *;

 .Wrapper {
     display: flex;
     flex-direction: column;
     max-height: 100vh;

     @media screen and (min-width: $tablet) {
         flex-direction: row;
         overflow: hidden;

     }

     .Slogan {
         min-height: 40vh;
         background-color: $firstColor;
         display: flex;
         flex-direction: column;
         justify-content: flex-end;


         @media screen and (min-width: $tablet) {

             min-width: 65%;
             background-color: $firstColor;
             justify-content: flex-start;



         }

         &-textContainer {

             color: $thirdColor;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             padding: 0;

             @media screen and (min-width: $tablet) {


                 min-height: 60vh;
                 justify-content: flex-start;
                 align-items: flex-start;
                 padding-top: 2em;
                 z-index: 1;
                 padding-inline: 100px 50px;
             }

             h1 {
                 font-family: $titleFont;
                 font-size: 48px;

                 @media screen and (min-width: $tablet) {
                     font-size: 170px;
                 }
             }

             h3 {

                 font-size: 20px;

                 bottom: -80px;

                 @media screen and (min-width: $tablet) {
                     position: static;
                     margin-top: -20px;
                     font-size: 36px;
                 }

             }
         }

         &-logoContainer {

             min-height: 70px;
             background-image: url('../images/logo_big.png');
             background-size: contain;
             background-repeat: no-repeat;
             background-position: center;

             @media screen and (min-width: $tablet) {
                 z-index: 0;
                 margin-top: -100px;
                 margin-left: -420px;
                 min-height: 600px;
                 background-size: cover;
                 background-position: left;

             }


         }

     }
 }