//variables color

$firstColor: #124e78;
$secondColor: #FFC42B;
$thirdColor:  #e8e9eb;
$backgroundColor: #e5e7eb;

//variables fonts

$titleFont: 'NF-le petit cochon', sans-serif;
$textFont: 'Zen Kaku Gothic New Light', sans-serif;


//variables font-size
$regular: 1em;
$sm: 0.7em;

//variables spaces
$spaceXXXL : 5em;
$spaceXXL : 4em;
$spaceXL : 3em;
$spaceL : 2em;
$spaceM : 1.5em;
$space : 1em;
$spaceS: 0.5em;
$spaceXS: 0.25em;
$spaceXXS: 0.12em;

//variables shadows
$shadowDark:
0 4px 6px -1px rgba(0, 0, 0, 0.1),
0 2px 4px -1px rgba(0, 0, 0, 0.06);

$shadow: 10px 10px 10px grey;
$shadowLight: 0 2px 4px rgba(0, 0, 0, 0.1);

//variables viewport
$tablet: 750px;
$laptop: 1000px;
$desktop: 1400px;