@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Zen Kaku Gothic New Light", sans-serif;
}

body {
  height: 100%;
}

.Wrapper {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

h2 {
  font-size: 1em;
  color: #124e78;
}
@media screen and (min-width: 750px) {
  h2 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 750px) {
  h3 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 750px) {
  p {
    font-size: 1em;
  }
}

.Btn {
  color: inherit;
  text-decoration: none;
  outline: 1px solid lightgray;
  padding: 0.1em 0.5em 0.2em 0.5em;
  border-radius: 5px;
  font-size: 0.8em;
}

.Btn:hover {
  outline: 1px solid #0CC89E;
}

.PageHeader {
  background-color: #124e78;
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 750px) {
  .PageHeader {
    padding-inline: 1.5em;
    position: sticky;
    top: 0;
  }
}
.PageHeader-logo {
  max-height: 2em;
}
@media screen and (min-width: 750px) {
  .PageHeader-logo {
    max-height: 4em;
  }
}
.PageHeader-userBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}
.PageHeader-userBox h2 {
  color: #F5F5F5;
}
.PageHeader-userBox img {
  max-height: 2em;
  background-color: #F5F5F5;
  border: 1px solid #FFC42B;
  border-radius: 50%;
}
@media screen and (min-width: 750px) {
  .PageHeader-userBox img {
    max-height: 3em;
  }
}
.PageHeader-userBoxNav {
  display: none;
}

.PageMain-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #124e78;
  max-height: 4em;
  min-height: 4em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
@media screen and (min-width: 750px) {
  .PageMain-bar {
    width: 280px;
    max-height: none;
    position: fixed;
    top: 5em;
    justify-content: flex-start;
    border: 1px solid green;
    align-self: stretch;
    left: calc(50% + 440px);
  }
}
.PageMain-bar-addBtn {
  cursor: pointer;
  min-height: 70px;
  min-width: 70px;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  right: 10px;
  background-image: linear-gradient(0, white 0 55%, rgba(255, 255, 255, 0) 55% 100%);
}
@media screen and (min-width: 750px) {
  .PageMain-bar-addBtn {
    display: none;
  }
}
.PageMain-bar-addBtn-in {
  background-color: #FFC42B;
  min-height: 55px;
  min-width: 55px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.PageMain-bar-menu {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}
@media screen and (min-width: 750px) {
  .PageMain-bar-menu {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;
    max-height: none;
    min-width: 100%;
    border: 1px solid red;
    flex-grow: 1;
  }
}
.PageMain-bar-menu-logoDesktop {
  display: none;
}
@media screen and (min-width: 750px) {
  .PageMain-bar-menu-logoDesktop {
    display: block;
    margin-top: 0;
    max-width: 100%;
  }
}
.PageMain-bar-menu-logoDesktop img {
  max-width: 100%;
}
.PageMain-bar-menu .addBtnDesktop {
  display: none;
}
@media screen and (min-width: 750px) {
  .PageMain-bar-menu .addBtnDesktop {
    display: flex;
  }
}
.PageMain-bar-menu-link {
  width: 100%;
  color: #F5F5F5;
  font-size: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.PageMain-bar-menu-link a {
  margin-left: 1em;
}
.PageMain-bar-menu-link i {
  color: #f5f5f5;
}
@media screen and (min-width: 750px) {
  .PageMain-bar-menu-link {
    flex-direction: row;
    justify-content: flex-start;
    min-width: 100%;
    align-items: center;
    padding: 0.5em;
  }
}
.PageMain-bar-menu-link-plus {
  background-color: #FFC42B;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  text-decoration: none;
}
.PageMain-bar-menu-link figcaption {
  font-size: 1em;
}
@media screen and (min-width: 750px) {
  .PageMain-bar-menu-link figcaption {
    font-size: 2em;
  }
}
@media screen and (min-width: 750px) {
  .PageMain-bar-menu-link:hover {
    background-color: #F2F2F7;
    color: #124e78;
  }
  .PageMain-bar-menu-link:hover i {
    color: #124e78;
  }
}

.PageFooter {
  display: none;
}
@media screen and (min-width: 750px) {
  .PageFooter {
    background-color: #124e78;
    color: #F5F5F5;
    height: 5em;
    width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    position: relative;
    z-index: 10;
  }
}

.WrapperBoss {
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (min-width: 750px) {
  .WrapperBoss {
    position: relative;
  }
}

@media screen and (min-width: 750px) {
  .PageMain {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
  }
}
.PageMain-centralBox {
  background-color: #F5F5F5;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media screen and (min-width: 750px) {
  .PageMain-centralBox {
    width: calc(100% - 280px);
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 5em;
    font-size: 1em;
  }
}

.InfosCard {
  box-shadow: 10px 10px 10px grey;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
  font-size: 1em;
  border-radius: 0.5em;
  padding: 1em;
}
.InfosCard-textBox-title {
  font-weight: bold;
}
.InfosCard-imgBox {
  max-height: 6em;
  max-width: 6em;
}
.InfosCard-imgBox-titre {
  font-weight: bold;
}
.InfosCard-imgBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ReportCard {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  gap: 1em;
  font-size: 1em;
  border-radius: 0.5em;
  padding: 0.5em;
}
@media screen and (min-width: 750px) {
  .ReportCard {
    flex-direction: column;
    min-height: 220px;
    align-items: center;
    padding: 0;
    gap: 0;
    outline: 1px solid transparent;
  }
}
.ReportCard-imgBox {
  max-height: 90%;
  max-width: 30%;
}
@media screen and (min-width: 750px) {
  .ReportCard-imgBox {
    min-width: 100%;
    max-height: 65%;
    margin: 0;
  }
}
.ReportCard-imgBox img {
  height: 100%;
  width: 100%;
  border-radius: 0.5em;
  object-fit: cover;
}
@media screen and (min-width: 750px) {
  .ReportCard-imgBox img {
    border-radius: 10px 10px 0 0;
  }
}
.ReportCard-textBox {
  min-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
.ReportCard-textBox-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ReportCard-textBox-header-title {
  font-weight: bold;
}
.ReportCard-textBox-items {
  display: flex;
  align-items: center;
  gap: 1em;
}
.ReportCard-textBox-items-icon {
  color: #124e78;
}
.ReportCard-textBox-items a {
  margin-left: 0.5em;
}
@media screen and (min-width: 750px) {
  .ReportCard-textBox-items a {
    margin-left: 4em;
  }
}
@media screen and (min-width: 750px) {
  .ReportCard-textBox {
    min-width: 100%;
    max-height: 35%;
    padding: 1em;
    gap: 0.5em;
  }
}

.ReportCard:hover {
  background-color: #124e78;
  color: #F2F2F7;
  box-shadow: 5px 5px 10px black;
  outline: 1px solid #FFC42B;
}
.ReportCard:hover .ReportCard-textBox-items-icon {
  color: #F5F5F5;
}

.AllSee a {
  text-decoration: none;
  font-size: 1em;
  padding-left: 0.12em;
  color: inherit;
}

.FormContainer {
  min-height: 70vh;
  background-color: #124e78;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2em;
}
@media screen and (min-width: 750px) {
  .FormContainer {
    align-items: center;
    padding: 0;
    min-width: 35%;
    background-color: #F2F2F7;
  }
}
.FormContainer .Form {
  text-align: center;
  width: 90%;
  background-color: #124e78;
  border-radius: 20px;
  /* Input wrapper */
  /* Inputs */
  /* Hidden Label */
  /* Showing label*/
  /* Field password */
  /* Eye */
  /* Botón enviar */
}
@media screen and (min-width: 750px) {
  .FormContainer .Form {
    text-align: center;
    width: 430px;
    height: 420px;
    background-color: #F5F5F5;
    border-radius: 20px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    padding: 50px;
  }
}
.FormContainer .Form h3 {
  color: #B3B3B3;
  font-size: 1em;
  font-weight: lighter;
  margin-bottom: 0.8em;
}
@media screen and (min-width: 750px) {
  .FormContainer .Form h3 {
    font-size: 36px;
    margin-bottom: 0.5em;
  }
}
.FormContainer .Form .input-group {
  position: relative;
  width: 100%;
  height: 72px;
}
@media screen and (min-width: 750px) {
  .FormContainer .Form .input-group {
    width: 328px;
  }
}
.FormContainer .Form .input-group input {
  background: none;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  height: 56px;
  width: 100%;
  color: #F5F5F5;
  font-weight: bold;
  outline: none;
  padding-inline: 12px;
}
@media screen and (min-width: 750px) {
  .FormContainer .Form .input-group input {
    color: #124e78;
    height: 56px;
    padding-inline: 12px;
    border: 1px solid #124e78;
    font-size: 16px;
    transition: border-color 0.3s;
  }
}
.FormContainer .Form .input-group input:focus,
.FormContainer .Form .input-group input:not(:placeholder-shown) {
  border-color: #FFC42B;
}
.FormContainer .Form .input-group label {
  position: absolute;
  top: 0;
  left: 12px;
  background: #124e78;
  padding: 0 4px;
  font-size: 16px;
  font-weight: bold;
  transform: translateY(-50%);
  opacity: 0;
  color: transparent;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 3px;
  height: 14px;
  pointer-events: none;
  width: auto;
}
@media screen and (min-width: 750px) {
  .FormContainer .Form .input-group label {
    background: #F2F2F7;
  }
}
.FormContainer .Form .input-group input:focus + label,
.FormContainer .Form .input-group input:not(:placeholder-shown) + label {
  opacity: 1;
  color: #F5F5F5;
}
@media screen and (min-width: 750px) {
  .FormContainer .Form .input-group input:focus + label,
  .FormContainer .Form .input-group input:not(:placeholder-shown) + label {
    color: #124e78;
  }
}
.FormContainer .Form .input-group.icon-right {
  display: flex;
}
.FormContainer .Form .toggle-password {
  border: none;
  position: absolute;
  top: 40%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  margin-bottom: 2em;
  height: 56px;
  width: 24px;
}
.FormContainer .Form .toggle-password svg {
  width: 24px;
  height: 24px;
  pointer-events: none;
  color: #F5F5F5;
}
@media screen and (min-width: 750px) {
  .FormContainer .Form .toggle-password svg {
    color: #124e78;
  }
}
.FormContainer .Form .submit-button {
  width: 100%;
  height: 56px;
  background-color: #FFC42B;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #F5F5F5;
  font-size: 24px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
@media screen and (min-width: 750px) {
  .FormContainer .Form .submit-button {
    width: 328px;
  }
}
.FormContainer .Form .submit-button:hover {
  background-color: #F5F5F5;
  color: #124e78;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 750px) {
  .FormContainer .Form .submit-button:hover {
    background-color: #124e78;
    color: #F5F5F5;
  }
}
.FormContainer .Form .text-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  color: #F5F5F5;
  font-weight: bold;
  font-size: 16px;
  gap: 0.5em;
}
@media screen and (min-width: 750px) {
  .FormContainer .Form .text-line {
    font-size: 20px;
    color: #B3B3B3;
  }
}
.FormContainer .Form .text-line a {
  color: #F5F5F5;
}
@media screen and (min-width: 750px) {
  .FormContainer .Form .text-line a {
    color: #B3B3B3;
  }
}

.Wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 750px) {
  .Wrapper {
    flex-direction: row;
    overflow: hidden;
    max-height: 100vh;
  }
}
.Wrapper .Slogan2 {
  min-height: 30vh;
  background-color: #124e78;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (min-width: 750px) {
  .Wrapper .Slogan2 {
    min-width: 65%;
    background-color: #124e78;
    justify-content: flex-start;
  }
}
.Wrapper .Slogan2-textContainer {
  color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
@media screen and (min-width: 750px) {
  .Wrapper .Slogan2-textContainer {
    min-height: 60vh;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2em;
    z-index: 1;
    padding-inline: 100px 50px;
  }
}
.Wrapper .Slogan2-textContainer h1 {
  font-family: "NF-le petit cochon", sans-serif;
  font-size: 48px;
}
@media screen and (min-width: 750px) {
  .Wrapper .Slogan2-textContainer h1 {
    font-size: 170px;
  }
}
.Wrapper .Slogan2-textContainer h3 {
  font-size: 20px;
  bottom: -80px;
}
@media screen and (min-width: 750px) {
  .Wrapper .Slogan2-textContainer h3 {
    position: static;
    margin-top: -20px;
    font-size: 36px;
  }
}
.Wrapper .Slogan2-logoContainer {
  min-height: 70px;
  background-image: url("../images/logo_big.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 750px) {
  .Wrapper .Slogan2-logoContainer {
    z-index: 0;
    margin-top: -100px;
    margin-left: -420px;
    min-height: 600px;
    background-size: cover;
    background-position: left;
  }
}

@media screen and (min-width: 750px) {
  .FormContainer-signup {
    height: 680px !important;
  }
}

.Wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
@media screen and (min-width: 750px) {
  .Wrapper {
    flex-direction: row;
    overflow: hidden;
  }
}
.Wrapper .Slogan {
  min-height: 40vh;
  background-color: #124e78;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (min-width: 750px) {
  .Wrapper .Slogan {
    min-width: 65%;
    background-color: #124e78;
    justify-content: flex-start;
  }
}
.Wrapper .Slogan-textContainer {
  color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
@media screen and (min-width: 750px) {
  .Wrapper .Slogan-textContainer {
    min-height: 60vh;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2em;
    z-index: 1;
    padding-inline: 100px 50px;
  }
}
.Wrapper .Slogan-textContainer h1 {
  font-family: "NF-le petit cochon", sans-serif;
  font-size: 48px;
}
@media screen and (min-width: 750px) {
  .Wrapper .Slogan-textContainer h1 {
    font-size: 170px;
  }
}
.Wrapper .Slogan-textContainer h3 {
  font-size: 20px;
  bottom: -80px;
}
@media screen and (min-width: 750px) {
  .Wrapper .Slogan-textContainer h3 {
    position: static;
    margin-top: -20px;
    font-size: 36px;
  }
}
.Wrapper .Slogan-logoContainer {
  min-height: 70px;
  background-image: url("../images/logo_big.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 750px) {
  .Wrapper .Slogan-logoContainer {
    z-index: 0;
    margin-top: -100px;
    margin-left: -420px;
    min-height: 600px;
    background-size: cover;
    background-position: left;
  }
}

.CtBoxForm {
  display: block;
  text-align: center;
  height: 100%;
}

.FormAdd {
  background-color: #F5F5F5;
  height: 100%;
}

.FormContainer-addincident.Form {
  background-color: transparent;
  /*Disabled Geolocation*/
  /*Geolocation activated*/
}
@media screen and (min-width: 750px) {
  .FormContainer-addincident.Form {
    width: 600px;
    height: 100%;
  }
}
.FormContainer-addincident.Form .location {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.6em;
  align-items: center;
}
.FormContainer-addincident.Form .location-text {
  font-size: 0.8em;
  padding-bottom: 0.5em;
}
@media screen and (min-width: 750px) {
  .FormContainer-addincident.Form .input-group {
    width: 100%;
  }
}
.FormContainer-addincident.Form .input-group input {
  color: #124e78;
  border: 1px solid #124e78;
  transition: border-color 0.3s;
}
@media screen and (min-width: 750px) {
  .FormContainer-addincident.Form .input-group input {
    border: 1px solid #124e78;
    min-width: 100%;
  }
}
.FormContainer-addincident.Form .input-group select {
  background-color: transparent;
  width: 100%;
  border: 1px solid #124e78;
  border-radius: 4px;
  padding: 8px;
  color: #124e78;
  transition: border-color 0.3s;
  height: 56px;
}
.FormContainer-addincident.Form .AddImage {
  margin-bottom: 1em;
}
.FormContainer-addincident.Form .num-code {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
}
@media screen and (min-width: 750px) {
  .FormContainer-addincident.Form .num-code .input-width-control {
    gap: 2em;
    max-width: auto;
  }
}
.FormContainer-addincident.Form .input-group textarea {
  background-color: transparent;
  width: 100%;
  border: 1px solid #124e78;
  border-radius: 4px;
  padding: 8px;
  color: #124e78;
  transition: border-color 0.3s;
}
.FormContainer-addincident.Form .input-group label {
  background: #F2F2F7;
  opacity: 0;
}
.FormContainer-addincident.Form .input-group input:focus + label,
.FormContainer-addincident.Form .input-group input:not(:placeholder-shown) + label {
  opacity: 1;
  color: #124e78;
}
.FormContainer-addincident.Form .input-group select:focus {
  border-color: #FFC42B;
}
.FormContainer-addincident.Form .input-group textarea:focus {
  border-color: #FFC42B;
}
.FormContainer-addincident.Form .input-group select:focus + label,
.FormContainer-addincident.Form .input-group + label {
  opacity: 1;
  color: #124e78;
}
.FormContainer-addincident.Form .input-group textarea:focus + label,
.FormContainer-addincident.Form .input-group textarea:valid + label {
  opacity: 1;
  color: #124e78;
}
.FormContainer-addincident.Form .submit-button {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.FormContainer-addincident.Form .submit-button p {
  font-size: 0.9em;
}
@media screen and (min-width: 750px) {
  .FormContainer-addincident.Form .submit-button p {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 750px) {
  .FormContainer-addincident.Form .submit-button {
    min-width: 100%;
  }
}
.FormContainer-addincident.Form .submit-button:hover {
  background-color: #124e78;
}
.FormContainer-addincident.Form .submit-button:hover p {
  color: #F5F5F5;
}
.FormContainer-addincident.Form .toggle-location {
  border: none;
  background-color: transparent;
}
.FormContainer-addincident.Form .toggle-location svg .knob {
  transition: transform 0.3s ease, fill 0.3s ease;
  transform: translateX(0);
  fill: #D8D8D8;
}
.FormContainer-addincident.Form .toggle-location svg .knobShadow {
  transition: transform 0.4s ease, fill 0.4s ease;
}
.FormContainer-addincident.Form .toggle-location svg .bg {
  transition: fill 0.3s ease;
  fill: #D8D8D8;
}
.FormContainer-addincident.Form .toggle-location.active svg .knob {
  transform: translateX(14px);
  /* moves to right */
  fill: #FFC42B;
}
.FormContainer-addincident.Form .toggle-location.active svg .knobShadow {
  transform: translateX(14px);
}
.FormContainer-addincident.Form .toggle-location.active svg .bg {
  fill: #124e78;
}
.FormContainer .choices.is-invalid {
  border: 2px solid red;
}

.PageMain-centralBox-infos {
  grid-column: 1/2;
  height: 150px;
}
.PageMain-centralBox-infos-card {
  font-size: 1.5em;
}
.PageMain-centralBox-badges {
  grid-column: 2/3;
}
.PageMain-centralBox-badges-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.PageMain-centralBox-badges-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
}
.PageMain-centralBox-badges-wrapper-item {
  max-width: 20%;
}
.PageMain-centralBox-badges-wrapper-item img {
  width: 90%;
}
.PageMain-centralBox-reports {
  grid-column: 1/3;
}
@media screen and (min-width: 750px) {
  .PageMain-centralBox-reports {
    min-height: calc(100vh - 80px - 150px);
    margin-top: 1.5em;
  }
}
.PageMain-centralBox-reports-filters {
  padding-top: 1em;
}
.PageMain-centralBox-reports-filters-btn {
  background-color: #124e78;
  color: #F5F5F5;
  border-radius: 1em;
  border: none;
  padding: 0 0.5em 0.2em 0.5em;
  margin-bottom: 1em;
}
.PageMain-centralBox-reports-filters-list {
  display: none;
  font-size: 0.9em;
  color: #124e78;
}
.PageMain-centralBox-reports-filters-list.active {
  display: block;
}
.PageMain-centralBox-reports-filters-checkboxes {
  background-color: gray;
  min-height: 1em;
}
.PageMain-centralBox-reports-filters-checkboxes-active {
  background-color: red;
}
.PageMain-centralBox-reports-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 750px) {
  .PageMain-centralBox-reports-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.5em;
    justify-content: center;
  }
}

@media screen and (min-width: 750px) {
  .PageMainDetail {
    width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F7;
  }
}

.PageMain-centralBoxDetail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #F2F2F7;
  overflow-y: auto;
  min-height: 102vh;
}
@media screen and (min-width: 750px) {
  .PageMain-centralBoxDetail {
    width: 70%;
  }
}

.DetailCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 750px) {
  .DetailCard {
    padding-top: 2em;
  }
}
.DetailCard-header {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  padding: 0 1em;
}
.DetailCard-header-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  font-size: 1.5em;
}
@media screen and (min-width: 750px) {
  .DetailCard-header p {
    margin-bottom: 1em;
  }
}
.DetailCard-imgBox {
  width: 100%;
}
.DetailCard-imgBox-img {
  width: 100%;
}
@media screen and (min-width: 750px) {
  .DetailCard-imgBox-img {
    width: 100%;
  }
}
.DetailCard-catBox {
  display: flex;
  padding: 1em;
  gap: 1em;
  color: #124e78;
  font-weight: bolder;
  align-items: center;
}
.DetailCard-des {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 1em;
}
.DetailCard-address {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 1em;
}
.DetailCard-address-first {
  display: flex;
  align-items: center;
}
.DetailCard-address-second {
  padding-left: 0.5em;
}
.DetailCard .DetailCard-progressBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
  padding-left: 1em;
}
.DetailCard .DetailCard-progressBar-step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
.DetailCard .DetailCard-progressBar-step-statusLabel {
  min-height: 1.5em;
  text-align: center;
  font-weight: bolder;
}
.DetailCard .DetailCard-progressBar-step-witness {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}
.DetailCard .DetailCard-progressBar-step-witness svg {
  flex-shrink: 0;
}
.DetailCard .DetailCard-progressBar-step-witness-bar {
  flex-grow: 1;
  height: 6px;
  background-color: #E1E1E2;
  min-width: 40px;
  max-width: 100%;
}
.DetailCard .DetailCard-progressBar-step-witness-bar.active {
  background-color: #4CAF50;
}
.DetailCard .DetailCard-progressBar-step.active svg path:first-of-type {
  fill: #4CAF50;
}
.DetailCard .DetailCard-progressBar-step.active svg path:last-of-type {
  fill: #34C759;
  opacity: 0.5;
}
.DetailCard-Btns {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}
@media screen and (min-width: 750px) {
  .DetailCard-Btns {
    margin: 1em;
  }
}

.Button {
  display: flex;
  padding: 6px 6px 6px 8px;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid var(--Outline, rgba(0, 0, 0, 0.12));
  background-color: inherit;
}
.Button:hover {
  cursor: pointer;
}
.Button .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.Button .modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  position: relative;
}
.Button .close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
