<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Care</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="public/images/logo.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>


</head>

<body>
<div class="WrapperBoss">
    <header th:replace="~{fragments/header::header}"></header>
    <main class="PageMain">
        <div class="PageMain-centralBox CtBoxForm">
            <div class="FormContainer FormAdd">

                <form class="FormContainer-addincident Form" th:action="@{/addIncident}"
                      th:object="${incidentForm}"
                      method="post" enctype="multipart/form-data">

                <h3>Ajouter un signalement</h3>
                    <input type="hidden" id="latitude" th:field="*{latitude}"/>
                    <input type="hidden" id="longitude" th:field="*{longitude}"/>

                    <div class="input-group">
                        <input th:field="*{title}" id="title" name="title" placeholder="Titre signalement"
                               required/>
                        <label for="title">*Titre signalement</label>
                    </div>

                    <div class="location">
                        <button type="button" class="toggle-location" aria-label="Activer/Desactiver geolocalisation">
                            <div th:replace="~{fragments/svg-fragments :: toggle-icon}"></div>
                        </button>
                        <p class="location-text">Ma localisation actuelle est celle de l'incident</p>
                    </div>

                    <div class="input-group">
                        <input th:field="*{address}" id="address" name="address" placeholder="Adresse" required/>
                        <label for="address">*Addresse</label>
                    </div>
                    <div class="city-code">
                        <div class="input-group">
                            <select class="input" id="city" th:field="*{cityId}" required>
                                <option th:each="city : ${cities}"
                                        th:value="${city.id}"
                                        th:text="${city.name}">
                                </option>
                            </select>
                            <label for="city">*Ville</label>
                        </div>
                        <div class="input-group input-width-control">
                            <input th:field="*{postalCode}" id="postalCode" name="postalCode" placeholder="Code postal"
                                   required/>
                            <label for="postalCode">*Code postal</label>
                        </div>
                    </div>


                    <select class="input-group input" id="categoryIds" th:field="*{categoryIds}" multiple required>
                        <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                    </select>


                    <div class="AddImage">
                        <label for="image" style="cursor: pointer;">
                            <div th:replace="~{fragments/svg-fragments :: upload-icon}"></div>
                        </label>
                        <input type="file" th:field="*{image}" id="image" name="image" accept="image/*" placeholder="Image" style="display: none;" />
                        <p id="fileName"></p>
                    </div>



                    <div class="input-group">
                        <textarea th:field="*{description}" id="description" name="description"
                                  placeholder="Décrivez brièvement l'incident" required></textarea>
                        <label for="description">*Description</label>
                    </div>

                    <button type="submit" class="submit-button">
                        <div th:replace="~{fragments/svg-fragments :: send-icon}"></div>
                        <p>J'envoie le signalement</p>
                    </button>
                </form>


            </div>

        </div>


    </main>
    <nav th:replace="~{fragments/bar::bar}" class="PageMain-bar"></nav>
    <footer th:replace="~{fragments/footer::footer}" class="PageFooter"></footer>

</div>


<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script th:inline="javascript">
    const GOOGLE_API_KEY = /*[[${googleApiKey}]]*/ '';
</script>
<script th:src="@{/script.js}" defer></script>

</body>
</html>