<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Care</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="public/images/logo.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>


</head>

<body>
<div class="WrapperBoss">
    <header th:replace="~{fragments/header::header}"></header>

    <main class="PageMain">
        <div th:object="${incident}" class="PageMain-centralBoxDetail">

            <div class="DetailCard">
                <div class="DetailCard-header">
                    <div class="DetailCard-header-title">
                        <h2 th:text="${incident.title}"></h2>
                        <i>
                            <svg th:if="${incident.statusId == 1}" xmlns="http://www.w3.org/2000/svg" width="28"
                                 height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M7 2.33331H21V9.33331L16.3333 14L21 18.6666V25.6666H7V18.6666L11.6667 14L7 9.33331V2.33331ZM18.6667 19.25L14 14.5833L9.33333 19.25V23.3333H18.6667V19.25ZM14 13.4166L18.6667 8.74998V4.66665H9.33333V8.74998L14 13.4166ZM11.6667 6.99998H16.3333V7.87498L14 10.2083L11.6667 7.87498V6.99998Z"
                                      fill="#FF0606"/>
                            </svg>

                            <svg th:if="${incident.statusId == 2}" xmlns="http://www.w3.org/2000/svg" width="28"
                                 height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M7 2.33331H21V9.33331L16.3333 14L21 18.6666V25.6666H7V18.6666L11.6667 14L7 9.33331V2.33331ZM18.6667 19.25L14 14.5833L9.33333 19.25V23.3333H18.6667V19.25ZM14 13.4166L18.6667 8.74998V4.66665H9.33333V8.74998L14 13.4166ZM11.6667 6.99998H16.3333V7.87498L14 10.2083L11.6667 7.87498V6.99998Z"
                                      fill="#0665FF"/>
                            </svg>
                            <svg th:if="${incident.statusId == 3}" xmlns="http://www.w3.org/2000/svg" width="22"
                                 height="22" viewBox="0 0 22 22" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M11 21.5C16.799 21.5 21.5 16.799 21.5 11C21.5 5.20101 16.799 0.5 11 0.5V2.40909C15.7446 2.40909 19.5909 6.25537 19.5909 11C19.5909 15.7446 15.7446 19.5909 11 19.5909C6.25537 19.5909 2.40909 15.7446 2.40909 11H0.5C0.5 16.799 5.20101 21.5 11 21.5Z"
                                      fill="#E6A000"/>
                                <mask id="mask0_2875_933" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0"
                                      y="0" width="22" height="22">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M11 21.5C16.799 21.5 21.5 16.799 21.5 11C21.5 5.20101 16.799 0.5 11 0.5V2.40909C15.7446 2.40909 19.5909 6.25537 19.5909 11C19.5909 15.7446 15.7446 19.5909 11 19.5909C6.25537 19.5909 2.40909 15.7446 2.40909 11H0.5C0.5 16.799 5.20101 21.5 11 21.5Z"
                                          fill="white"/>
                                </mask>
                                <g mask="url(#mask0_2875_933)">
                                </g>
                            </svg>
                            <svg th:if="${incident.statusId == 4}" xmlns="http://www.w3.org/2000/svg" width="36"
                                 height="36" viewBox="0 0 36 36" fill="none">
                                <g filter="url(#filter0_d_2875_2151)">
                                    <rect x="4" width="28" height="28" rx="5" fill="white"
                                          shape-rendering="crispEdges"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M18 2.33331C11.56 2.33331 6.33337 7.55998 6.33337 14C6.33337 20.44 11.56 25.6666 18 25.6666C24.44 25.6666 29.6667 20.44 29.6667 14C29.6667 7.55998 24.44 2.33331 18 2.33331ZM15.6667 19.8333L9.83337 14L11.4784 12.355L15.6667 16.5316L24.5217 7.67665L26.1667 9.33331L15.6667 19.8333Z"
                                          fill="#34C759"/>
                                </g>
                                <defs>
                                    <filter id="filter0_d_2875_2151" x="0" y="0" width="36" height="36"
                                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                       result="hardAlpha"/>
                                        <feOffset dy="4"/>
                                        <feGaussianBlur stdDeviation="2"/>
                                        <feComposite in2="hardAlpha" operator="out"/>
                                        <feColorMatrix type="matrix"
                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix"
                                                 result="effect1_dropShadow_2875_2151"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2875_2151"
                                                 result="shape"/>
                                    </filter>
                                </defs>
                                </g>-
                            </svg>
                        </i>
                    </div>
                    <p th:text="${#temporals.format(incident.createdAt, 'dd/MM/yy')}"/>
                </div>

                <div class="DetailCard-imgBox">
                    <img class="DetailCard-imgBox-img" th:src="${incident.imageUrl}" alt="incident">
                </div>

                <div th:each="category : ${incident.categories}" class="DetailCard-catBox">
                    <i th:class="${categoryIcons[category.name]} + ' ReportCard-textBox-items-icon'"></i>
                    <p th:text="${category.name}"></p>
                </div>

                <div class="DetailCard-des">
                    <h4>Description </h4>
                    <p th:text="${incident.description}"></p>
                </div>

                <div class="DetailCard-address">
                    <div class="DetailCard-address-first">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path d="M16.0001 18.6667C18.9414 18.6667 21.3334 16.2747 21.3334 13.3333C21.3334 10.392 18.9414 8 16.0001 8C13.0587 8 10.6667 10.392 10.6667 13.3333C10.6667 16.2747 13.0587 18.6667 16.0001 18.6667ZM16.0001 10.6667C17.4707 10.6667 18.6667 11.8627 18.6667 13.3333C18.6667 14.804 17.4707 16 16.0001 16C14.5294 16 13.3334 14.804 13.3334 13.3333C13.3334 11.8627 14.5294 10.6667 16.0001 10.6667Z"
                                  fill="#124E78"/>
                            <path d="M15.2267 29.0852C15.4525 29.2459 15.7228 29.3323 16 29.3323C16.2772 29.3323 16.5476 29.2459 16.7734 29.0852C17.1787 28.7985 26.7054 21.9198 26.6667 13.3332C26.6667 7.45184 21.8814 2.6665 16 2.6665C10.1187 2.6665 5.33337 7.45184 5.33337 13.3265C5.2947 21.9198 14.8214 28.7985 15.2267 29.0852ZM16 5.33317C20.412 5.33317 24 8.92117 24 13.3398C24.028 19.2572 18.1494 24.5705 16 26.3132C13.852 24.5692 7.97204 19.2545 8.00004 13.3332C8.00004 8.92117 11.588 5.33317 16 5.33317Z"
                                  fill="#124E78"/>
                        </svg>
                        <p th:text="${incident.address}"></p>
                    </div>
                    <div class="DetailCard-address-second">
                        <p th:text="| ${incident.postalCode} ${incident.cityName} |"></p>
                    </div>
                </div>

                <div class="DetailCard-progressBar">

                    <div class="DetailCard-progressBar-step circle1"
                         th:classappend="${incident.statusId >= 1} ? ' active' : ''">
                        <p th:text="${incident.statusId >= 1} ? 'signalé' : ''"
                           class="DetailCard-progressBar-step-statusLabel"></p>
                        <div class="DetailCard-progressBar-step-witness">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 40 40" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M20 10C14.4772 10 10 14.4772 10 20C10 25.5228 14.4772 30 20 30C25.5228 30 30 25.5228 30 20C30 14.4772 25.5228 10 20 10Z"
                                      fill="#8E8E93"/>
                                <path opacity="0.24" fill-rule="evenodd" clip-rule="evenodd"
                                      d="M20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0Z"
                                      fill="#999999"/>
                            </svg>
                            <div class="DetailCard-progressBar-step-witness-bar"
                                 th:classappend="${incident.statusId >= 2} ? ' active' : ''"></div>
                        </div>
                        <p th:text="${#temporals.format(incident.createdAt, 'dd/MM/yy')}"></p>
                    </div>

                    <div class="DetailCard-progressBar-step circle2"
                         th:classappend="${incident.statusId >= 2} ? ' active' : ''">
                        <p th:text="${incident.statusId >= 2} ? 'validé' : ''"
                           class="DetailCard-progressBar-step-statusLabel"></p>
                        <div class="DetailCard-progressBar-step-witness">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 40 40" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M20 10C14.4772 10 10 14.4772 10 20C10 25.5228 14.4772 30 20 30C25.5228 30 30 25.5228 30 20C30 14.4772 25.5228 10 20 10Z"
                                      fill="#8E8E93"/>
                                <path opacity="0.24" fill-rule="evenodd" clip-rule="evenodd"
                                      d="M20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0Z"
                                      fill="#999999"/>
                            </svg>
                            <div class="DetailCard-progressBar-step-witness-bar"
                                 th:classappend="${incident.statusId >= 3} ? ' active' : ''"></div>
                        </div>
                        <p th:text="${#temporals.format(incident.createdAt, 'dd/MM/yy')}"></p>
                    </div>


                    <div class="DetailCard-progressBar-step circle3"
                         th:classappend="${incident.statusId >= 3} ? ' active' : ''">
                        <p th:text="${incident.statusId >= 3} ? 'en cours' : ''"
                           class="DetailCard-progressBar-step-statusLabel"></p>
                        <div class="DetailCard-progressBar-step-witness">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 40 40" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M20 10C14.4772 10 10 14.4772 10 20C10 25.5228 14.4772 30 20 30C25.5228 30 30 25.5228 30 20C30 14.4772 25.5228 10 20 10Z"
                                      fill="#8E8E93"/>
                                <path opacity="0.24" fill-rule="evenodd" clip-rule="evenodd"
                                      d="M20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0Z"
                                      fill="#999999"/>
                            </svg>
                            <div class="DetailCard-progressBar-step-witness-bar"
                                 th:classappend="${incident.statusId >= 4} ? ' active' : ''"></div>
                        </div>
                        <p th:text="${#temporals.format(incident.createdAt, 'dd/MM/yy')}"></p>
                    </div>


                    <div class="DetailCard-progressBar-step circle4"
                         th:classappend="${incident.statusId >= 4} ? ' active' : ''">
                        <p th:text="${incident.statusId >= 4} ? 'résolou' : ''"
                           class="DetailCard-progressBar-step-statusLabel"></p>
                        <div class="DetailCard-progressBar-step-witness">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 40 40" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M20 10C14.4772 10 10 14.4772 10 20C10 25.5228 14.4772 30 20 30C25.5228 30 30 25.5228 30 20C30 14.4772 25.5228 10 20 10Z"
                                      fill="#8E8E93"/>
                                <path opacity="0.24" fill-rule="evenodd" clip-rule="evenodd"
                                      d="M20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0Z"
                                      fill="#999999"/>
                            </svg>
                        </div>
                        <p th:text="${#temporals.format(incident.createdAt, 'dd/MM/yy')}"></p>
                    </div>
                </div>

                <div th:if="${incident.statusId == 1}" class="DetailCard-Btns">
                    <button type="submit" class="Button">SUPPRIMMER</button>
                    <button type="submit" class="Button">MODIFIER</button>
                </div>

            </div>

        <nav th:replace="~{fragments/bar::bar}" class="PageMain-bar"></nav>
    </main>
    <footer th:replace="~{fragments/footer::footer}" class="PageFooter"></footer>

</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    console.log([[${incident}]]);
    /*]]>*/
</script>

<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="./script.js"></script>
</body>
</html>