<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Care</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="public/images/logo.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
<div class="WrapperBoss">
    <header th:replace="~{fragments/header::header}"></header>

    <main class="PageMain">
        <div class="PageMain-centralBox">
            <section class="PageMain-centralBox-infos">
                <h2>Mes Infos</h2>
                <div class="PageMain-centralBox-infos-card InfosCard">
                    <div class="InfosCard-imgBox">
                        <img class="InfosCard-imgBox-img" th:src="@{/images/avatar.png}" alt="Avatar">
                    </div>
                    <div class="InfosCard-textBox">
                        <p class="InfosCard-textBox-title" th:text="|${user.firstname} ${user.lastname}|"></p>
                        <p class="InfosCard-textBox-email" th:text="|${user.email}|"></p>
                        <p class="InfosCard-textBox-tel" th:text="|${user.phone}|"></p>
                    </div>
                    <button class="InfosCard-btn" th:replace="~{fragments/svg-fragments :: nextPage-icon}"></button>

                </div>
            </section>
            <section class="PageMain-centralBox-badges">
                <div class="PageMain-centralBox-badges-header">
                    <h2>Mes badges recents</h2>
                    <div class="PageMain-centralBox-badges AllSee">
                        <i class="fa-regular fa-eye" style="color: #124e78;"></i>
                        <a href="">Voir tous</a>
                    </div>
                </div>

                <div class="PageMain-centralBox-badges-wrapper">
                    <figure class="PageMain-centralBox-badges-wrapper-item Badge">
                        <img src="./images/ambasadrice-acces.png" alt="">
                        <figcaption></figcaption>
                    </figure>
                    <figure class="PageMain-centralBox-badges-wrapper-item Badge">
                        <img src="./images/amie-nature.png" alt="">
                        <figcaption></figcaption>
                    </figure>
                    <figure class="PageMain-centralBox-badges-wrapper-item Badge">
                        <img src="./images/heroine-petits.png" alt="">
                        <figcaption></figcaption>
                    </figure>


                </div>
            </section>
            <section class="PageMain-centralBox-reports">
                <h2>Mes signalements</h2>
                <div class="PageMain-centralBox-reports-filters">

                    <button class="PageMain-centralBox-reports-filters-btn">Filtrer par statut <i
                            class="fa-solid fa-circle-chevron-down" style="color: #d8d4d4;"></i></button>
                    <div class="PageMain-centralBox-reports-filters-list">
                        <label><input type="checkbox" name="1" data-filter-status="1"> signalé</label>
                        <label><input type="checkbox" name="2" data-filter-status="2"> validé</label>
                        <label><input type="checkbox" name="3" data-filter-status="3"> en cours</label>
                        <label><input type="checkbox" name="4" data-filter-status="4"> résolu</label>
                    </div>

                </div>


                <div class="PageMain-centralBox-reports-wrapper">
                    <div th:each="incident : ${incidents}" class="PageMain-centralBox-reports-card ReportCard"
                         th:data-filter-status="${incident.statusId}">
                        <div class="ReportCard-imgBox">
                            <img class="ReportCard-imgBox-img" th:src="${incident.imageUrl}" alt="incident">
                        </div>
                        <div class="ReportCard-content">
                            <div class="ReportCard-content-statusIcon"><span
                                    th:replace="~{fragments/svg-fragments :: status-icon}"></span></div>
                            <div class="ReportCard-content-textBox">

                                <div class="ReportCard-content-textBox-header">

                                    <p th:text="${incident.title}" class="ReportCard-content-textBox-header-title">Marche trop
                                        haute</p>

                                </div>

                                <div class="ReportCard-content-textBox-items">
                                    <div class="ReportCard-content-textBox-items-datecat">
                                    <p th:text="${#temporals.format(incident.createdAt, 'dd/MM/yy')}"
                                       class="ReportCard-textBox-items-datecat-date">24/01/25</p>

                                    <div th:each="category : ${incident.categories}">
                                        <i th:class="${categoryIcons[category.name]} + ' ReportCard-content-textBox-items-datecat-icon'"></i>
                                    </div>
                                    </div>
                                    <a class="ReportCard-content-textBox-items-btn"
                                       th:href="@{/incident/{id}(id=${incident.id})}">
                                        <span th:replace="~{fragments/svg-fragments :: nextPage-icon}"></span>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>


            </section>

        </div>

    </main>
    <nav th:replace="~{fragments/bar::bar}" class="PageMain-bar"></nav>
    <footer th:replace="~{fragments/footer::footer}" class="PageFooter"></footer>

</div>
<!--                                    Para ver el los objetos en consola-->
<script th:inline="javascript">
    /*<![CDATA[*/
    console.log(/*[[${incidents}]]*/);
    /*]]>*/
</script>

<script th:src="@{/script.js}" defer></script>



</body>
</html>