<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Care</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="public/images/logo.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
<div class="WrapperBoss">
    <header th:replace="~{fragments/header::header}"></header>

    <main class="PageMain">
        <div class="PageMain-centralBox">
            <section class="PageMain-centralBox-infos">
                <h2>Mes Infos</h2>
                <div class="PageMain-centralBox-infos-card InfosCard">
                    <div class="InfosCard-imgBox">
                        <img class="InfosCard-imgBox-img" th:src="@{/images/avatar.png}" alt="Avatar">
                    </div>
                    <div class="InfosCard-textBox">
                        <p class="InfosCard-textBox-title"    th:text="|${user.firstname} ${user.lastname}|"></p>
                        <p class="InfosCard-textBox-email" th:text="|${user.email}|"></p>
                        <p class="InfosCard-textBox-tel" th:text="|${user.phone}|"></p>
                        <a class="InfosCard-btn Btn" href="">Modifier</a>
                    </div>

                </div>
            </section>
            <section class="PageMain-centralBox-badges">
                <div class="PageMain-centralBox-badges-header">
                    <h2>Mes badges recents</h2>
                    <div class="PageMain-centralBox-badges AllSee">
                        <i class="fa-regular fa-eye" style="color: #124e78;"></i>
                        <a href="">Voir tous</a>
                    </div>
                </div>

                <div class="PageMain-centralBox-badges-wrapper">
                    <figure class="PageMain-centralBox-badges-wrapper-item Badge">
                        <img src="./images/ambasadrice-acces.png" alt="">
                        <figcaption></figcaption>
                    </figure>
                    <figure class="PageMain-centralBox-badges-wrapper-item Badge">
                        <img src="./images/amie-nature.png" alt="">
                        <figcaption></figcaption>
                    </figure>
                    <figure class="PageMain-centralBox-badges-wrapper-item Badge">
                        <img src="./images/heroine-petits.png" alt="">
                        <figcaption></figcaption>
                    </figure>


                </div>
            </section>
            <section class="PageMain-centralBox-reports">
                <h2>Mes signalements</h2>
                <div class="PageMain-centralBox-reports-filters">

                    <button class="PageMain-centralBox-reports-filters-btn">Filtrer par statut <i
                            class="fa-solid fa-circle-chevron-down" style="color: #d8d4d4;"></i></button>
                    <div class="PageMain-centralBox-reports-filters-list">
                        <label><input type="checkbox" name="1" data-filter-status="signalé"> signalé</label>
                        <label><input type="checkbox" name="2" data-filter-status="validé"> validé</label>
                        <label><input type="checkbox" name="3" data-filter-status="en cours"> en cours</label>
                        <label><input type="checkbox" name="4" data-filter-status="résolu"> résolu</label>
                    </div>

                </div>



                <div class="PageMain-centralBox-reports-wrapper">
                    <div th:each="incident : ${incidents}" class="PageMain-centralBox-reports-card ReportCard" data-filter-status="signalé">
                        <div class="ReportCard-imgBox">
                            <img class="ReportCard-imgBox-img" th:src="${incident.imageUrl}" alt="">
                        </div>
                        <div class="ReportCard-textBox">
                            <div class="ReportCard-textBox-header">

                                <p th:text="${incident.title}" class="ReportCard-textBox-header-title">Marche trop haute</p>

                                <!--                                    Para ver el los objetos en consola-->
                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    console.log([[${incident}]]);
                                    /*]]>*/
                                </script>



                                <svg th:if="${incident.statusId == 1}" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                    <path d="M7 2.33331H21V9.33331L16.3333 14L21 18.6666V25.6666H7V18.6666L11.6667 14L7 9.33331V2.33331ZM18.6667 19.25L14 14.5833L9.33333 19.25V23.3333H18.6667V19.25ZM14 13.4166L18.6667 8.74998V4.66665H9.33333V8.74998L14 13.4166ZM11.6667 6.99998H16.3333V7.87498L14 10.2083L11.6667 7.87498V6.99998Z" fill="#FF0606"/>
                                </svg>

                                <svg  th:if="${incident.statusId == 2}" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                    <path d="M7 2.33331H21V9.33331L16.3333 14L21 18.6666V25.6666H7V18.6666L11.6667 14L7 9.33331V2.33331ZM18.6667 19.25L14 14.5833L9.33333 19.25V23.3333H18.6667V19.25ZM14 13.4166L18.6667 8.74998V4.66665H9.33333V8.74998L14 13.4166ZM11.6667 6.99998H16.3333V7.87498L14 10.2083L11.6667 7.87498V6.99998Z" fill="#0665FF"/>
                                </svg>
                                <svg  th:if="${incident.statusId == 3}" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11 21.5C16.799 21.5 21.5 16.799 21.5 11C21.5 5.20101 16.799 0.5 11 0.5V2.40909C15.7446 2.40909 19.5909 6.25537 19.5909 11C19.5909 15.7446 15.7446 19.5909 11 19.5909C6.25537 19.5909 2.40909 15.7446 2.40909 11H0.5C0.5 16.799 5.20101 21.5 11 21.5Z" fill="#E6A000"/>
                                    <mask id="mask0_2875_933" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="22" height="22">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11 21.5C16.799 21.5 21.5 16.799 21.5 11C21.5 5.20101 16.799 0.5 11 0.5V2.40909C15.7446 2.40909 19.5909 6.25537 19.5909 11C19.5909 15.7446 15.7446 19.5909 11 19.5909C6.25537 19.5909 2.40909 15.7446 2.40909 11H0.5C0.5 16.799 5.20101 21.5 11 21.5Z" fill="white"/>
                                    </mask>
                                    <g mask="url(#mask0_2875_933)">
                                    </g>
                                </svg>
                                <svg th:if="${incident.statusId == 4}" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                    <g filter="url(#filter0_d_2875_2151)">
                                        <rect x="4" width="28" height="28" rx="5" fill="white" shape-rendering="crispEdges"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 2.33331C11.56 2.33331 6.33337 7.55998 6.33337 14C6.33337 20.44 11.56 25.6666 18 25.6666C24.44 25.6666 29.6667 20.44 29.6667 14C29.6667 7.55998 24.44 2.33331 18 2.33331ZM15.6667 19.8333L9.83337 14L11.4784 12.355L15.6667 16.5316L24.5217 7.67665L26.1667 9.33331L15.6667 19.8333Z" fill="#34C759"/>
                                    </g>
                                    <defs>
                                        <filter id="filter0_d_2875_2151" x="0" y="0" width="36" height="36" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                            <feOffset dy="4"/>
                                            <feGaussianBlur stdDeviation="2"/>
                                            <feComposite in2="hardAlpha" operator="out"/>
                                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2875_2151"/>
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2875_2151" result="shape"/>
                                        </filter>
                                    </defs>
                                    </g>-
                                </svg>
                            </div>

                            <div class="ReportCard-textBox-items">
                                <p th:text="${#temporals.format(incident.createdAt, 'dd/MM/yy')}" class="ReportCard-textBox-items-date">24/01/25</p>

                                <div th:each="category : ${incident.categories}">
                                    <i th:class="${categoryIcons[category.name]} + ' ReportCard-textBox-items-icon'"></i>
                                </div>
                                <a class="Report-btn Btn" th:href="@{/incident/{id}(id=${incident.id})}">Voir détail</a>
                            </div>

                        </div>

                    </div>

                </div>


            </section>

        </div>

        <nav th:replace="~{fragments/bar::bar}" class="PageMain-bar"></nav>
    </main>
    <footer th:replace="~{fragments/footer::footer}" class="PageFooter"></footer>

</div>
<script src="./script.js"></script>

    </body>
</html>